@model WeatherService.Models.Widgets.SingleStationValue<double?>

@{
    var guid = Guid.NewGuid().ToString();
    var percent = 0.0;

    if(Model.Value != null)
    {
        percent = ((double)Model.Value / 60) * 100;
    }
}

@if(Model.Value != null)
{
<text>
<script type="text/javascript">
    $("#@guid").gaugeMeter();
</script>
</text>
}

<p style="font-size:x-small; font-weight:bold; margin:2px; color:white;">
    @Model.StationName
</p>

@if (Model.Value == null)
{
    <p style="padding-top:20px; font-size:16px; font-weight:bold; color:white;">N/A</p>
}
else
{
    <div style="width:120px;">
        <div style="margin-left:-10px;" id="@guid" class="GaugeMeter" data-percent="@percent" data-text="<div style='color:White; font-size:14px; text-align:center; width:55px;'>@Model.Value&deg;C</div>" data-size="100" data-width="15" data-theme="White" data-back="RGBa(0,0,0,.1)" data-style="Arch" data-label_color="#FFF"></div>
    </div>
}