@model WeatherService.Models.Widgets.SingleStationValue<String>

@{
    var guid = Guid.NewGuid().ToString();
}



<p id="@guid" style="font-size:small; font-weight:bold; margin:2px; color:white;">
    @Model.StationName
</p>

<script type="text/javascript">
    $('#@guid').parent().css(
        {
            "background": "url('@Model.Value')",
            "background-size": "cover"
        });
</script>