@model WeatherService.Models.Widgets.SingleStationValue<String>

@{
    var guid = Guid.NewGuid().ToString();
}

<div id="@guid" style="font-size:x-small; font-weight:bold; width:100%; position:absolute; left:0px; bottom:0px; color:white; background-color:black;">
    @Model.StationName
</div>

<script type="text/javascript">
    $('#@guid').parent().css(
    {
        "background": "url('@Model.Value')",
        "background-size": "cover",
        "backgriznd-color": "black"
    });
</script>