@model IEnumerable<WeatherService.Models.PublicStationData>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Stations";

    <template id="stationRow" inline-template>
        <tr v-bind:data-id="station.id">
            <td>{{station.id}}</td>
            <td>{{station.name}}</td>
            <td><input type="checkbox" v-model="station.isPublic" onclick="return false;" /></td>
            <td>
                <edit-station-button :station="station"></edit-station-button>
                <remove-station-button :station="station"></remove-station-button>
            </td>
        </tr>
    </template>

    <script>
        $(document).ready(function()
        {
            var pageApp = null;

            Vue.component('stationRow',
            {
                template: '#stationRow',
                props: ['station'],
                destroyed: function()
                {
                    $('#weatherStations').DataTable().draw();

                    var el = $("tr[data-id='" + this.station.id + "']");

                    $('#weatherStations').DataTable().row(el).remove().draw();
                }
            });

            Vue.component('editStationButton',
            {
                props: ['station'],
                template: '<button class="btn btn-primary" @@click="editStation()">Edit</button>',
                methods:
                {
                        editStation: function()
                        {
                            window.location.href = '/WeatherStations/Edit/' + this.station.id;
                        }
                }
            });

            Vue.component('removeStationButton',
            {
	            props: ['station'],
	            template: '<button class="btn btn-danger" @@click="removeStation()">Remove</button>',
	            methods:
	            {
		            removeStation: function()
                    {
                        var self = this;

                        $('#page').confirmDialog(
                        {
                            title: 'Delete station',
                            text: 'Do you really want to delete this station?',
                            confirmText: 'Yes, delete it!',
                            confirmClass: 'btn-danger',
                            onConfirm: function()
                            {
                                $.ajax(
	                            {
		                            url: "/WeatherStations/" + self.station.id,
                                    type: "DELETE"
                                })
                                .done(function()
                                {
                                    app.$emit('station-removed', self.station.id);
                                    pageApp.$emit('station-removed', self.station.id);

                                    $('#page').confirmDialog('hide');
                                })
                                .fail(function()
                                {
                                    alert("Couldn't delete station, please try again later.");
                                });

                                return false;
                            }
                        }).confirmDialog('show');
		            }
	            }
            });

            pageApp = new Vue(
            {
                el: '#page',
                data:
                {
                    stations: @Json.Serialize(Model)
                },
                mounted: function()
                {
                    $('#weatherStations').DataTable(
                    {
                        "aoColumns": [{ "bSortable": true }, { "bSortable": true }, { "bSortable": false }, { "bSortable": false }],
                        "order": [[ 1, "asc" ]]
                    });
                },
                created: function()
                {
                    this.$on('station-removed', function(stationId)
                    {
                        var index = this.stations.findIndex(function(e) { return e.id == stationId });
                        this.stations.splice(index, 1);
                    });
                }
            });
        });
    </script>

    <div id="page" class="container">
        <div class="row">
            <div class="col-12">
                <table id="weatherStations" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>GUID</th>
                            <th>Name</th>
                            <th>Public</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="station in this.stations"
                            :station="station"
                            :key="station.id"
                            is="station-row"></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top:5px; margin-bottom:5px;">
            <div class="col-2 offset-5">
                <a class="btn btn-primary" href="/WeatherStations/Create">Create new station</a>
            </div>
        </div>
    </div>
}